spring:
  application:
    name: sb-data-jdbc

  datasource:
    url: jdbc:postgresql://localhost:5432/localdb
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  sql:
    init:
      mode: never